body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#background{
    width: 80%;
    height: 100%;
    position: absolute;
    top: auto;
    right: 10%;
    text-align: center;
    color: white;
    background-size:100% 100%;
    display: flex;
}

#option{
    width: 20%;
    height: 20%;
    opacity: 90%;
    text-align: left;
    background-color: gray;
    border-radius: 10px;
    border: 2px solid white;
    padding: 2vw;
    position: absolute;
    top: 65%;
    right: 10%;
    color: white;
    font-size: 2vw;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.choice{
    padding:1px;
    padding-left: 1.5vw;
    margin: 0px;
    font-size: 1.5vw;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}