<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/field/index.css"
          th:href="@{/css/field/index.css}">
</head>
<body>
    <div id="background" style="background-image:url(../../static/img/DQ1_field.jpeg);" th:style="@{background-image:url(/img/DQ1_field.jpeg);}">
        <div id="option">
            <h1 class="choice">メニュー</h1>
            <div><a class="choice" href="../battle/battle.html" th:href="@{/battle/index}">たたかう</a></div>
            <div><a class="choice" href="index.html" th:href="@{stay}">宿に泊まる</a></div>
            <div><a class="choice" href="../saveData/index.html" th:href="@{save}">中断</a></div>
        </div>
    </div>
</body>
</html>