<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>起動画面</title>
    <link rel="stylesheet" href="../../static/css/saveData/load.css"
          th:href="@{/css/saveData/load.css}">
</head>
<body>
    <div class="choice-option">
        <div><a class="choice" href="load.html" th:href="@{load}">冒険をする</a></div>
        <div><a class="choice" href="init.html" th:href="@{init}">冒険の書をつくる</a></div>
        <div><a class="choice" href="delete.html" th:href="@{delete}">冒険の書を消す</a></div>
    </div>
    <div class="load-option">
    <form action="/index" th:action="@{deleteComplete}" method="get" th:each="saveData : ${saveDataList}" th:object="${saveData}">
        <button class="load-button" name="id" value=0 th:value="*{id}">
            <span class="mgr-2" th:text="'id: ' + *{id}">id: 111</span>
            <span class="mgr-2" th:text="'名前: ' + *{name}">名前: あああ</span>
            <span class="mgr-2" th:text="'レベル: ' + *{playerLevel}">レベル: 1</span>
            <span class="mgr-2" th:text="'所持金: ' + *{money}">所持金: 100</span><br>
            <span class="mgr-2" th:text="'職業: ' + *{jobName}">職業: 村人</span>
            <span class="mgr-2" th:text="'記録日時: ' + *{lastLoginDate}">記録日時: 2021-01-01</span>
        </button>
    </form>
    </div>
</body>
</html>
